* {
margin : 0;
padding : 0;
box-sizing: border-box;
font-family: 'helvetica neue';
}
html , body{
height : 100%;
width : 100%;
background-color: black;
color: white;
}

/*
linear Gradient
radial Gradient
*/

/* .box{
    width: 400px;
    height: 400px;
    border: 1px solid white;*/
/* background: linear-gradient(in oklab to right , white , red,purple); in oklab , in hsl , */
    /* background: radial-gradient(150px,red,blue); by default vo div k centre se start ho rha hai. */
    /*background: radial-gradient(300px at 100px 100px,red,blue);*//* but we can move it by doing this : this means apan log radial gradient ka postion v change akr skte hai. */

/*} */

/* :root{
    --red: blue;
} */

:root{
    --x:400px;
    --y:400px; 
}

body{
    background: url("https://wallpapercave.com/wp/wp11779134.jpg");
    background-size: cover;
}

.box{
    height: 100%;
    width: 100%;
    background: radial-gradient(150px at var(--x) var(--y) , rgba(255, 255, 255, 0)80%,rgba(0, 0, 0, 0.881)) ;
}
